/*    font-family: 'Abel', sans-serif;*/
/*    font-family: 'Anton', sans-serif;*/


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

:root {
    --blue: #00ABA9;
    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --light-grey: #F0F0F0;
    --med-grey: #E6E6E6;
}

.anton-font {
    font-family: 'Anton', sans-serif;
}

.abel-featured-font {
    font-family: 'Abel', sans-serif;
    font-size: 2em;
}


body {
    background-color: #F0F0F0;
}

h1 {
    font-size: 4em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h2 {
    font-size: 3em;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 2.5em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h4 {
    font-size: 2em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h5 {
    font-size: 1.75em;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
}

p {
    font-family: 'Abel', sans-serif;
}

.all-caps {
    text-transform: uppercase;
}

.space {
    margin-top: 2em;
}

.grey-border {
    /*border-color: var(--med-grey);*/
    border: .5em solid var(--med-grey);
    /*border-radius: 6em;*/
}

.card-background {
    background-color: var(--light-grey);
}

.small-red-circle {
    background-color: var(--red);
    width: 1.2em;
    height: 1.2em;
    margin-left: .5em;
    border-radius: 100%;
}

.small-orange-circle {
    background-color: var(--orange);
    width: 1.2em;
    height: 1.2em;
    margin-left: .5em;
    border-radius: 100%;
}

.small-green-circle {
    background-color: var(--green);
    width: 1.2em;
    height: 1.2em;
    margin-left: .5em;
    border-radius: 100%;
}

.small-blue-circle {
    background-color: var(--blue);
    width: 1.2em;
    height: 1.2em;
    margin-left: .5em;
    border-radius: 100%;
}

.large-red-circle {
    background-color: var(--red);
    width: 7.6em;
    height: 7.6em;
    border: .5em solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-orange-circle {
    background-color: var(--orange);
    width: 7.6em;
    height: 7.6em;
    border: .5em solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-green-circle {
    background-color: var(--green);
    width: 7.6em;
    height: 7.6em;
    border: .5em solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.large-blue-circle {
    background-color: var(--blue);
    width: 7.6em;
    height: 7.6em;
    border: .5em solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

