/*    font-family: 'Abel', sans-serif;*/
/*    font-family: 'Anton', sans-serif;*/


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

:root {
    --blue: #00ABA9;
    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --light-grey: #F0F0F0;
    --med-grey: #E6E6E6;
}



body {
    background-color: #F0F0F0;
}

h1 {
    font-size: 64px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h2 {
    font-size: 48px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h4 {
    font-size: 32px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h5 {
    font-size: 28px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

p {
    font-family: 'Abel', sans-serif;
}

.all-caps {
    text-transform: uppercase;
}

.grey-border {
  border-color: var(--med-grey);
    border: 60px;
    border-radius: 10px;
}

.card-background {
    background-color: var(--light-grey);
}

.small-red-circle {
    background-color: var(--red);
    width: 18px;
    height: 18px;
    /*margin-left: 5px;*/
    border-radius: 100%;
}

.small-orange-circle {
    background-color: var(--orange);
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

.small-green-circle {
    background-color: var(--green);
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

.small-blue-circle {
    background-color: var(--blue);
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

.large-red-circle {
    background-color: var(--red);
    width: 105px;
    height: 105px;
    border-color: white;
    border: 5px;
    border-radius: 100%;
}

.large-orange-circle {
    background-color: var(--orange);
    width: 105px;
    height: 105px;
    border-radius: 100%;
}

.large-green-circle {
    background-color: var(--green);
    width: 105px;
    height: 105px;
    border-radius: 100%;
}

.large-blue-circle {
    background-color: var(--blue);
    width: 105px;
    height: 105px;
    border-color: white;
    border: 5px;
    border-radius: 100%;
}