/*    font-family: 'Abel', sans-serif;*/
/*    font-family: 'Anton', sans-serif;*/


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

:root {
    --blue: #00ABA9;
    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --light-grey: #F0F0F0;
    --med-grey: #E6E6E6;

}

.light-grey {
    background-color: var(--light-grey);
}


.anton-font {
    font-family: 'Anton', sans-serif;
    font-size: 11px;
    margin-top: 2px;
}

.anton-font-last {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    text-align: left;
}

.last-img {
    margin-top: 1em;
}

.abel-font {
    font-family: 'Abel', sans-serif;
    margin-top: 2px;
}

.abel-font-nav-med {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin-left: 3px;
}

.abel-font-nav {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}



body {
    background-color: #F0F0F0;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 4em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h2 {
    font-size: 3em;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 2.5em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h4 {
    font-size: 2em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h5 {
    font-size: 1.75em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

p {
    font-family: 'Abel', sans-serif;
}

.all-caps {
    text-transform: uppercase;
}

.space {
    margin-top: 2em;
}

.grey-border {
    /*border-color: var(--med-grey);*/
    border: .5em solid var(--med-grey);
    /*border-radius: 6em;*/
}

.card-background {
    background-color: var(--light-grey);
}

.small-red-circle {
    background-color: var(--red);
    width: 1.2em;
    height: 1.2em;
    margin-left: .5em;
    border-radius: 100%;
}

.small-orange-circle {
    background-color: var(--orange);
    width: 1.2em;
    height: 1.2em;
    margin-left: .5em;
    border-radius: 100%;
}

.small-green-circle {
    background-color: var(--green);
    width: 1.2em;
    height: 1.2em;
    margin-left: .5em;
    border-radius: 100%;
}

.small-blue-circle {
    background-color: var(--blue);
    width: 1.2em;
    height: 1.2em;
    margin-left: .5em;
    border-radius: 100%;
}
/*
.circles {
    border-radius: 100%;
    width: 7.6em;
    height: 7.6em;
    border: .5em solid white;
    margin: 1em;
}

.circle-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    flex-wrap: wrap;
}


 */


.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    margin: .5em;
    border: .5em solid white;
    border-radius: 50%;
    width: 9em;
    height: 9em;

}

.logo-container {
   margin-top: 3em;
    position: relative;

}

header {
    height: 5em;
}

.logo{
    width: 9em;
    height: 9em;

}

img.logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -2em;

}

/* made their own class for colors */

.red {
    background-color: var(--red);

}

.orange {
    background-color: var(--orange);
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}

.small-circles {
    width: 18px;
    height: 18px;
    align-content: center;
}





/* small devices */
@media (min-width: 576px) {
    .selected-work {        /* this goes to the selected work portion to make it centered */
        text-align: center;
    }





}

/* medium devices */
@media (min-width: 768px) {
    .selected-work {      /* this will make that selected work portion to be aligned left */
        text-align: left;
    }
    .logo-container {
        margin-top: 3em;
        position: relative;

    }
    img.logo {
        width: 150px;
        height: 150px;
        position: absolute;
        top: -2em;
    }


}

/* large devices */
@media (min-width: 992px) {


}

/* extra large devices */
@media (min-width: 1200px) {

}
